doctype
html
    head
        meta(charset="utf-8")
        title kivi - A scaffold for single-page application
        meta(name="keywords" content="kivi, vue, koa, spa")
        meta(name="description" content="A scaffold for single-page application")
        link(rel='stylesheet' href='/static/css/styles.css')
    body
        #wrapper
        script(src='/static/js/main.js')
