*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav{
    height: 3em;
    line-height: 3em;
    background: #009900;
}
#nav li{
    float: left;
    width: 100px;
    text-align: center;
}
#nav li a{
    display: block;
    width: 100%;
    text-align: center;
}
#nav li a:hover{
    background: #008800;
    color: #fff;
}
#nav li a.active{
    background: #006600;
    color: #fff;
}
